body {
    width: 100vw;
}
.project {
    display: flex;
    flex-direction: column;
    background-color: #ffd966; 
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    width: 400px; 
    height: auto; 
}

.task-input {
    font-size: 26px;
    background-color: transparent;
    border: none;
    width: fit-content;
    margin-top: 0px;
    margin-bottom: 4px;
}

.task-checkbox {
height: 22px;
width: 22px;
}

.projectName {
    text-align: center;
    font-size: 32px;
    background-color: transparent;
    border: none;
}

.project-button{
    font-size: 22px;
}

#content {
    width: 90vw;
    margin-top: 35px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); /* Adjust the column size as needed */
    justify-content: center;
    justify-items: center; /* Horizontally center the grid items */
    align-items: center; /* Vertically center the grid items */
}

#signup {
    width: fit-content;
    font-size: 36px;
    border-radius: 50%;
    padding: 10px;
    background-color: orange;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;    
}
